extends layout

block Subject
	title 면책과 법적고지
	link(rel='canonical' href='https://kkutu.xyz/policy/disclaimer')
block JS
	
block Middle
	p 작성 중인 문서입니다.
block Bottom
	div.bottom-legal!= L('Copyright')
	div.bottom-legal!= L('Dictionary')
	div.bottom-legal!= L('License')