html
	head
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		link(href='https://cdn.kkutu.xyz/css/operation.min.css', rel='stylesheet', type='text/css')
		link(rel='canonical', href='https://kkutu.xyz/policy/operation')
		title 끄투닷넷 - 내 작은 글자 놀이터, 끄투닷넷! 끄투 온라인 - 서비스 이용약관
	body
		#calibre_link-0.calibre
			p.block_1(style='text-align:center;') 제 20차 서비스 이용약관
			p.block_1 제 1장. 총칙
			p.block_2 제 1조. 목적
			p.block_3
				| “끄투닷넷”(이하 “게임”)은 큐브시티(이하 “회사”)가 개발, 운영, 서비스하는 게임으로 아래의 운영정책에 따라 운영 및 유지보수, 관리하는 바입니다. 여러분은 끄투닷넷 서비스에 접속 또는 이용함으로써, 본 이용약관에 따른 법적 효력을 적용받는 것에 동의합니다.
			p.block_2 제 2조. 용어의 정의
			ul.list_
				li.block_4 “끄투닷넷”(이하 “게임”)은 큐브시티(이하 “회사”)가 개발, 운영, 서비스하는 게임입니다.
				li.block_4 “회원”은 회사의 서비스를 이용하는 자를 뜻합니다.
				li.block_4 “운영자”는 회사에 속한 자로서, 게임을 관리, 운영하는 자나 이를 돕는 자를 뜻합니다.
				li.block_4 “회원 ID”는 회원이 게임에 가입할 시 생성되며, 타인이 회원을 식별하는 용도로 사용됩니다.
				li.block_4
					| “버그”란 회사의 실수로 인해 만들어진 프로그램 및 시스템의 오류를 뜻합니다.
					b.calibre1  
			p.block_2 제 3조. 약관의 명시 및 변경
			ul.list_
				li.block_4 이 약관은 서비스 홈페이지(kkutu.xyz)에 게시함으로써 효력이 발생합니다.
				li.block_4 회사가 약관을 개정할 경우에는 시행 일자 및 개정 사유를 명시하여 시행 일자 이전부터 5일 이상 게시해야 합니다.
				li.block_4
					| 회원은 변경된 약관에 동의하지 않을 경우 이의를 제기할 수 있으며, 변경된 약관의 효력 발생일로부터 7일 이후로도 거부 의사를 표시하지 아니하고 서비스를 계속 사용할 경우 약관의 변경 사항에 동의하는 것으로 간주합니다.
			p.block_2 제 4조. 약관 외 적용
			p.block_3 이 약관에 명시되지 아니한 사항에 대해서는 관계 법령, 상 관례 및 홈페이지에 명시된 안내에 따릅니다.
			p.block_1 제 2장. 의무
			p.block_2 제 5조. 회원의 권리 및 의무
			ul.list_
				li.block_4 회원은 게임에서 제공되는 서비스를 받을 수 있습니다.
				li.block_4 회원은 자신의 게임ID를 보호하기 위해 노력을 하여야 합니다.
				li.block_4 회원은 회사의 약관, 정책, 고지 등을 준수하여야 하며, 이외에도 사회적인 통념에 불합하는 행위를 해서는 안됩니다.
				li.block_4 회원은 타인의 게임ID, 정보 등을 도용하거나 허위 정보를 등록하지 아니하여야 합니다.
				li.block_4 회원은 쾌적한 게임 환경을 위해 회사의 운영자에게 건의를 할 수 있습니다.
				li.block_4 회원은 게임 이용 시 발견한 버그를 운영진에게 신고하여야만 하며, 악용을 해서는 아니됩니다.
				li.block_4 회원은 회사측 주장 및 지시를 동의하지 아니할 경우 이의를 제기할 수 있습니다.
				li.block_4 회원은 자신의 행동에 대한 책임을 져야 합니다.
			p.block_2 제 6조. 회사의 권리 및 의무
			ul.list_
				li.block_4 회사는 회원에게 서비스를 안정적이고 지속해서 제공해야 합니다.
				li.block_4
					| 회사는 원활한 서비스 신청 및 운영을 위해 회원의 개인정보를 수집하여 보관하며, 본인의 동의 없이는 제3자에게 이를 제공할 수 없습니다. 다만, 관계 법령에 의한 수사상의 목적으로 관계기관으로부터 요구 받은 경우나 방송통신심의위원회의 요청이 있는 경우는 예외로 합니다.
				li.block_4 회사는 회원이 정당하게 요구하는 의견이나 불만에 대해서 즉시 또는 회사가 정한 기간과 절차에 따라 처리해야 합니다.
			p.block_2 제 7조. 운영자의 권리 및 의무
			ul.list_
				li.block_4 운영자는 회사에서 고지한 방침과 관계 법령을 준수해야 합니다.
				li.block_4
					| 운영자는 회원이 정당하게 요구하는 의견이나 불만에 대해서 즉시 또는 회사가 정한 기관과 절차에 따라 처리해야 합니다. 단, 회원 문의 및 요청 사항 중, 공개적으로 알려진 게임 정보 외 추후 업데이트에 대한 사항, 게임 특성상 공개가 불가능한 내용에 대해서는 제한적인 답변을 드리거나 혹은 답변을 드리지 않을 수 있습니다.
				li.block_4 운영자는 특정 회원에게만 유리한 행동을 하지 않으며 모든 회원을 공평하게 대우해야 합니다.
				li.block_4
					| 운영자는 회원의 개인정보(아이디, 비밀번호 등)를 요구하지 않으며, 회원의 개인정보를 절대 임의로 수정하거나 유출하지 않습니다. 단, 사법 기관의 정식 협조 요청이 있을 시에는 해당 기관에 제공할 수 있습니다.
				li.block_4
					| 운영자는 회원 간 분쟁에 개입하지 않습니다.
					br.calibre2
					| 다만 본 약관을 위반하는 내용이나 정상적인 서비스 운영이 어렵다고 판단되는 경우에는 중립적인 입장에서 사안에 대해 검토한 후, 필요한 조치를 행할 수 있습니다.
					br.calibre2
					| 1) 게임 환경을 저해하는 비 인가 프로그램을 배포하거나 사용하는 행위
					br.calibre2
					| 2) 다른 선량한 회원의 원활한 게임 이용을 심각하게 방해하는 행위
					br.calibre2
					| 3) 게임 경제 등 선량한 회원들이 공유하는 게임 질서를 파괴하는 행위
					br.calibre2
					| 4) 실정법을 위반하는 행위 또는 공공질서와 미풍양속을 해치는 행위
				li.block_4 운영자는 회사에서 고지한 방침과 관계 법령을 준수하는 한, 회원의 정상적인 게임 이용에 관여하지 않아야 합니다.
				li.block_4 운영자는 게임 내/외적으로 비정상적인 현상이 발생할 경우, 게임의 일부 혹은 전부를 일시적으로 중단하거나 접근을 제한할 수 있습니다.
				li.block_4 운영자는 게임 내 비정상적인 현상이 발생할 경우, 문제의 심각성을 판단하고 해당 콘텐츠를 제거하거나 진행을 정지시킬 수 있습니다.
			p.block_1 제 3장. 이용
			p.block_2 제 8조. 게임 서비스 제공의 원칙
			ul.list_
				li.block_4
					| 회사는 회사의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간 중단이 없는 서비스 제공을 원칙으로 합니다. 단, 정기점검이나 시스템의 업그레이드가 필요한 시간에 서비스를 일시 중단할 수 있으며, 예정된 작업으로 인한 서비스 일시 중단은 회사 홈페이지에 게시하여 사전에 공지합니다.
				li.block_4
					| 운영자는 원활한 게임 이용을 방해하거나 게임 환경을 파괴하는 모든 행위에 대해 본 약관에 따라 적절히 조치할 수 있습니다. 만약 아래에서 언급하지 않은 상황이 발생되면, 원활한 게임 운영을 위해 필요하다고 판단 시 회원과 회사가 공유하는 일반적인 게임 질서에 따라 적절하고 신속하게 대응합니다. 더불어 게임 환경과 선량한 회원을 보호하기 위해 최선을 다합니다.
			p.block_2 제 9조. 게임 내 명칭 정책
			ul.list_
				li.block_4
					| 기본적으로 캐릭터명, 한줄 소개 등은 회원이 자유롭게 결정할 수 있습니다. 그러나 아래 항목에 해당되는 경우, 운영자는 본 약관의 기준에 따라 제재를 취할 수 있습니다.
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd(rowspan='7')
							p.block_5 게임 내 명칭 정책
						td.td_2
							p.block_5 자신을 회사 직원 또는 운영자라고 속이거나 속이려는 의도가 있다고 판단되는 게임 내 명칭
					tr.calibre4
						td.td_2
							p.block_5 선정적이고 음란하거나 비속어(욕설)로 만들어 다른 회원에게 불쾌감을 줄 수 있는 게임 내 명칭
					tr.calibre4
						td.td_2
							p.block_5
								| 계정, 캐릭터, 사이버머니 등을 현금이나 현물로 교환하려는 의도, 서버간 교환하려는 의도, 다른 게임과 거래를 하려는 의도 등이 엿보이는 게임 내 명칭
					tr.calibre4
						td.td_2
							p.block_5 특정 종교, 인종, 회사 등의 집단을 비하하는 게임 내 명칭
					tr.calibre4
						td.td_2
							p.block_5 특정 대상을 광고하는 내용의 게임 내 명칭
					tr.calibre4
						td.td_2
							p.block_5 기타 사회 통념상 수용하기 어려운 게임 내 명칭
					tr.calibre4
						td.td_2
							p.block_5 제 3자의 상표, 서비스표, 저작권을 침해할 가능성이 있다고 판단되는 게임 내 명칭
			p.block_2  
			p.block_2 제 10조. 게임 이용 시 주의사항
			p.block_2 10-1. 회원 간의 분쟁
			ul.list_
				li.block_4 운영자는 게임 내에서 회원 간의 사적인 분쟁에 개입하지 않는 것을 원칙으로 합니다. 
				li.block_4
					| 단, 사적인 분쟁이라도 불특정 다수의 회원에게 피해를 입힐 경우, 제재를 취할 수 있습니다. 또한, 회원 간의 분쟁으로 게임 질서를 어지럽히거나 실정법에 저촉되는 행동 등이라고 회사가 판단하는 경우는 본 약관 또는 회원과 회사가 공유하는 일반적인 질서와 규범에 따라 신속하게 대응하고 선량한 회원을 보호하기 위해 적절하게 조치할 수 있습니다.
			p.block_2 10-2. 게임 내 질서를 어지럽히는 행위
			p.block_2 10-2-1. 다른 회원에게 불쾌감과 모욕감을 주는 행위
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd(rowspan='4')
							p.block_5 다른 회원에게 불쾌감과 모욕감을 주는 행위
						td.td_2
							p.block_5 신체적 비하 발언, 이유 없는 타인 비방 등으로 상대방에게 불쾌감을 주는 행위
					tr.calibre4
						td.td_2
							p.block_5 성적인 내용을 암시하거나, 타인에게 성적 수치심을 느끼게 하는 표현 및 행위
					tr.calibre4
						td.td_2
							p.block_5 특정인 혹은 불특정 다수를 비방하는 행위
					tr.calibre4
						td.td_2
							p.block_5 부모님을 모독하는 류의 욕설로 특정인 혹은 불특정 다수를 비방하는 행위
					tr.calibre4
						td.td_2.td_wd(rowspan='3')
							p.block_5 미풍양속을 해치는 행위
						td.td_2
							p.block_5 서버, 커뮤니티간 반목을 조장하거나 구성원 전체를 매도하는 행위
					tr.calibre4
						td.td_2
							p.block_5 채팅창에 지속적이고 악의적으로 동일한 내용을 계속 등록하는 이른바 ‘도배’ 행위
					tr.calibre4
						td.td_2
							p.block_5 사회적 통념에 어긋나는 내용을 통해 미풍양속을 해치는 행위
			p.block_2  
			p.block_2 10-2-2. 게임 이용 방해
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd
							p.block_5 스토킹
						td.td_2
							p.block_5 스토킹 등의 행동을 하며, 다른 회원을 괴롭히는 행위나 그 행위를 주는 경우
					tr.calibre4
						td.td_2.td_wd
							p.block_5 시스템 악용
						td.td_2
							p.block_5 게임 내 정상적인 시스템을 악용기획 의도에 반하거나 반복적으로 건전한 운영방향을 왜곡시키는 행위
			p.block_2  
			p.block_2 10-2-3. 운영자 사칭 및 업무 방해
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd(rowspan='3')
							p.block_5 운영자 사칭
						td.td_2
							p.block_5 게임 내에서 운영자 또는 회사 관계자라고 속여, 타인의 개인정보를 요구하는 행위
					tr.calibre4
						td.td_2
							p.block_5 공지를 임의로 수정하거나 수정한 내용을 배포하는 행위
					tr.calibre4
						td.td_2
							p.block_5 회사 또는 운영자에 의해 공지되지 않은 허위 사실을 유포하는 행위
					tr.calibre4
						td.td_2.td_wd(rowspan='2')
							p.block_5 운영 업무 방해
						td.td_2
							p.block_5 게임 내 이벤트 등을 의도적으로 방해하는 행위
					tr.calibre4
						td.td_2
							p.block_5 다른 회원의 게임 이용을 지속적으로 방해하는 행위
			p.block_2  
			p.block_2 10-2-4. 현금거래 및 홍보
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd(rowspan='4')
							p.block_5 현금거래
						td.td_2
							p.block_5 게임 내 콘텐츠(계정 등)를 현물 획득을 목적으로 거래하거나 계정 거래 시도 혹은 유사한 행위
					tr.calibre4
						td.td_2
							p.block_5 유료 재화를 게임 내 머니 혹은 아이템으로 교환/거래하거나 이와 비슷한 행위
					tr.calibre4
						td.td_2
							p.block_5
								| 게임 시스템에서 지원하지 않는 방식으로 게임의 유료 재화/게임 머니/아이템/계정 등을 다른 게임의 유료재화/게임 머니/아이템/계정 등으로 거래하거나 이를 시도하는 경우
					tr.calibre4
						td.td_2
							p.block_5 시스템에 현물 거래를 목적으로 한 채팅 및 광고
					tr.calibre4
						td.td_2.td_wd(rowspan='3')
							p.block_5 홍보
						td.td_2
							p.block_5 유해한 정보가 담겨있는 사이트의 링크를 공유하는 행위
					tr.calibre4
						td.td_2
							p.block_5 타 프리 서버의 URL을 게시하거나 접속을 유도, 홍보하는 행위
					tr.calibre4
						td.td_2
							p.block_5 본 게임과는 연관성이 없는 것들을 홍보하는 행위
			p.block_2  
			p.block_2 10-2-5. 친목 행위
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd
							p.block_5 친목
						td.td_2
							p.block_5 타 유저가 보기에 과도하다고 생각되는 친목 행위를 행하거나 그렇다고 판단될 경우
			p.block_2  
			p.block_2 10-2-6. 사기 및 사칭
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd
							p.block_5 사기
						td.td_2
							p.block_5 타 회원과의 합의 후 부당한 이득을 취하거나 이를 이행하지 않을 경우
					tr.calibre4
						td.td_2.td_wd(rowspan='2')
							p.block_5 사칭
						td.td_2
							p.block_5 게임 내 명칭을 통한 타 회원 사칭
					tr.calibre4
						td.td_2
							p.block_5 정당하지 않은 방법으로 타 회원이 현혹되도록 유도하는 경우
			p.block_2  
			p.block_2 10-2-7. 시스템(버그) 악용
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd(rowspan='5')
							p.block_5 시스템(버그) 악용
						td.td_2
							p.block_5 게임 내 버그를 유포하는 행위
					tr.calibre4
						td.td_2
							p.block_5 이상이 발생한 재화, 아이템 등을 이용하여 이득을 얻는 행위
					tr.calibre4
						td.td_2
							p.block_5 의도적으로 다른 회원의 정보를 조작하는 행위
					tr.calibre4
						td.td_2
							p.block_5 버그 확인으로 인해, 운영자가 공지를 통해 공식적으로 이를 통보하였음에도 지속적으로 이를 악용하는 행위
					tr.calibre4
						td.td_2
							p.block_5 기타 게임 내 버그를 이용하여 부당 이득을 챙기거나 게임 밸런싱을 무너뜨리는 행위
			p.block_2  
			p.block_2 10-2-8. 어뷰징
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd(rowspan='3')
							p.block_5 어뷰징
						td.td_2
							p.block_5 부정한 방법으로 경험치, 재화, 아이템, 각종 포인트 등의 게임 정보를 지속적으로 획득하는 행위
					tr.calibre4
						td.td_2
							p.block_5 정상적인 방법으로 획득하기 어려운 수준의 재화를 획득할 수 있음에도 이를 신고하지 않고 지속적으로 획득하는 행위
					tr.calibre4
						td.td_2
							p.block_5 지속적으로 특정 제시어를 주거나 받아 다른 회원의 원활한 게임 이용을 방해하는 행위
			p.block_2  
			p.block_2 10-2-9. 허위 신고
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd
							p.block_5 허위 신고
						td.td_2
							p.block_5 타 회원에 대한 허위 신고를 하는 경우
			p.block_2  
			p.block_2 10-2-10. 불법 프로그램 사용
			ul.list_
				li.block_4 불법 프로그램 사용이란, 공정하고 정상적인 게임 환경을 파괴하여 선량한 회원에게 피해를 줄 수 있는 모든 프로그램의 사용을 말합니다.
				li.block_4
					| 불법 프로그램 사용 행위가 발견되거나, 게임 데이터 조사를 통해 비정상적인 패턴으로 확인 되는 행위를 반복적으로 수행한 경우, 본 약관의 기준에 따라 해당 회원의 게임 이용을 제한할 수 있습니다.
				li.block_4 회원이 회사가 공식적으로 제공하지 않는 프로그램을 사용하여 피해를 입은 경우, 책임은 해당 회원이 부담합니다.
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd(rowspan='4')
							p.block_5 불법 프로그램 사용
						td.td_2
							p.block_5
								span.text_ 게임의 데이터나 프로그램을 변경
								span.text_1 ∙
								span.text_ 훼손
								span.text_1 ∙
								span.text_ 위조하는 프로그램의 사용
					tr.calibre4
						td.td_2
							p.block_5 스피드 핵, 메모리 핵, 매크로 프로그램, 해킹 프로그램 등 회사가 제공하거나 승인하지 않은 모든 장치의 사용
					tr.calibre4
						td.td_2
							p.block_5 게임의 데이터 등을 변경, 해킹시도, 훼손, 위조 하는 등 회사의 저작권을 침해할 수 있는 프로그램 사용 및 그에 준하는 모든 행위
					tr.calibre4
						td.td_2
							p.block_5 위에서 언급된 소프트웨어와 장치(하드웨어)를 만들거나 다른 회원에게 배포하는 행위
			p.block_2  
			p.block_2 10-2-11. 계정 도용/해킹/개인정보 유출
			ul.list_
				li.block_4 계정 도용/해킹이란, 다른 회원의 단말기 혹은 게임 서버에 불법으로 접근하는 행위, 게임 앱을 열어 이를 변경 혹은 수정하는 행위를 말합니다.
				li.block_4
					| 계정 도용은 사전에 다른 회원의 동의 없이, 해당 회원의 게임 내 재화, 아이템 등이나 계정을 획득할 목적으로 이를 시도 혹은 획득하는 행위를 말합니다. 만약 회원이 허위로 계정 도용 또는 해킹을 신고하는 경우 제재를 받게 됩니다.
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_
							p.block_5 유형
						td.td_1
							p.block_5 위반 항목
					tr.calibre4
						td.td_2.td_wd
							p.block_5 개인정보 유출
						td.td_2
							p.block_5 본인 또는 타인의 개인정보 등을 유출하는 행위
					tr.calibre4
						td.td_2.td_wd
							p.block_5 명의 도용
						td.td_2
							p.block_5 타인의 정보를 이용하여 계정을 생성하는 행위
			p.block_2  
			p.block_2 10-3. 이용제한 수준
			table.table_
				tbody.calibre3
					tr.calibre4
						td.td_1(rowspan='2')
							p.block_5 위반 항목
						td.td_1(colspan='4')
							p.block_5 게임 이용제한
					tr.calibre4
						td.td_9
							p.block_5 1차
						td.td_9
							p.block_5 2차
						td.td_9
							p.block_5 3차
						td.td_9
							p.block_5 4차 이후
					tr.calibre4
						td.td_11
							p.block_5 게임 내 명칭 정책 위반
						td.td_12
							p.block_5 명칭 강제변경
						td.td_12
							p.block_5 명칭 강제변경<br>(변경 불가능)
						td.td_14(colspan='2')
							p.block_2  
					tr.calibre4
						td.td_11
							p.block_5 다른 회원에게 불쾌감과 모욕감을 주는 행위
						td.td_12
							p.block_5 게임 이용 7일 제한
						td.td_12
							p.block_5 게임 이용 14일 제한
						td.td_12
							p.block_5 게임 이용 30일 제한
						td.td_12
							p.block_5 게임 이용 90일 제한
					tr.calibre4
						td.td_11
							p.block_5 게임 이용 방해
						td.td_12
							p.block_5 게임 이용 1일 제한
						td.td_12
							p.block_5 게임 이용 3일 제한
						td.td_12
							p.block_5 게임 이용 7일 제한
						td.td_12
							p.block_5 게임 이용 14일 제한
					tr.calibre4
						td.td_11
							p.block_5 운영자 사칭 및 업무 방해
						td.td_12
							p.block_5 게임 이용 영구 제한
						td.td_14(colspan='3')
							p.block_2  
					tr.calibre4
						td.td_11
							p.block_5 현금거래 및 홍보
						td.td_12
							p.block_5 게임 이용 영구 제한
						td.td_14(colspan='3')
							p.block_2  
					tr.calibre4
						td.td_11
							p.block_5 친목 행위
						td.td_12
							p.block_5 게임 이용 7일 제한
						td.td_12
							p.block_5 게임 이용 14일 제한
						td.td_12
							p.block_5 게임 이용 30일 제한
						td.td_12
							p.block_5 게임 이용 영구 제한
					tr.calibre4
						td.td_11
							p.block_5 사기 및 사칭
						td.td_12
							p.block_5 게임 이용 30일 제한
						td.td_12
							p.block_5 게임 이용 90일 제한
						td.td_12
							p.block_5 게임 이용 영구 제한
						td.td_14
							p.block_2  
					tr.calibre4
						td.td_11
							p.block_5 시스템(버그) 악용
						td.td_12
							p.block_5 게임 이용 영구 제한
						td.td_14(colspan='3')
							p.block_2  
					tr.calibre4
						td.td_11
							p.block_5 어뷰징
						td.td_12
							p.block_5 보유 재화 10% 차감, 게임 이용 7일 제한
						td.td_12
							p.block_5 보유 재화 30% 차감, 게임 이용 14일 제한
						td.td_12
							p.block_5 보유 재화 50% 차감, 게임 이용 30일 제한
						td.td_12
							p.block_5 보유 재화 75% 차감, 게임 이용 90일 제한
					tr.calibre4
						td.td_11
							p.block_5 허위 신고
						td.td_12
							p.block_5 게임 이용 1일 제한
						td.td_12
							p.block_5 게임 이용 3일 제한
						td.td_12
							p.block_5 게임 이용 7일 제한
						td.td_12
							p.block_5 게임 이용 14일 제한
					tr.calibre4
						td.td_11
							p.block_5 불법 프로그램 사용
						td.td_12
							p.block_5 게임 이용 영구 제한
						td.td_14(colspan='3')
							p.block_2  
					tr.calibre4
						td.td_11
							p.block_5 계정 도용/해킹/개인정보 유출
						td.td_12
							p.block_5 게임 이용 영구 제한
						td.td_14(colspan='3')
							p.block_2  
			p.block_2  
			p.block_2 10-4. 이용제한 이의 신청 안내 
			ul.list_
				li.block_4 이용제한 이의 신청을 원하실 경우 게임 내 고객센터 1:1 문의하기를 통해 문의하실 수 있습니다.
				li.block_4 단, 이용제한 시작일로부터 1개월 경과 시, 제재 근거에 대한 데이터 보존 기간의 종료로 이의 신청을 할 수 없습니다.
			p.block_3
				b.calibre1 부칙
				br.calibre2
				| 본 서비스 이용약관은 2020. 7. 25부터 시행됩니다.
			p.block_3
				b.calibre1 초본 작성일
				| : 2017.7.7