extends layout

block Subject
	title 알파끄투 - 내 작은 글자 놀이터, 알파끄투! 끄투 온라인 - 운영 정책
	link(rel='canonical' href='https://kkutu.xyz/policy/operation')
block JS
	
block Middle
	p
		| “알파끄투” (이하 “게임”)는 알파끄투 운영 (이하 “운영 주최”)가 개발, 운영, 서비스하는 게임으로 아래의 운영 정책에 따라 운영 및 유지보수, 관리하는 바입니다. 여러분은 알파끄투 서비스에 접속 또는 이용함으로써, 본 이용약관에 따른 법적 효력을 적용받는 것에 동의합니다.
	p
		strong 제 1조. 정의
	ul
		li “알파끄투” (이하 “게임”)는 알파끄투 운영 (이하 “운영 주최”)가 개발, 운영, 서비스하는 게임입니다.
		li “회원”은 운영 주최의 서비스를 이용하는 자를 뜻합니다.
		li
			| “비인가 프로그램”은 ‘게임이 실행되는 클라이언트와 관련된 모든 허가되지 않은 프로그램’으로 규정하며, 공정하고 정상적인 게임 환경을 파괴하는 모든 프로그램을 뜻합니다.
		li “운영자”는 운영 주최에 속한 자로서, 게임을 관리, 운영하는 자나 이를 돕는 자를 뜻합니다.
		li “회원 ID”는 회원이 게임에 가입할 시 생성되며, 타인이 회원을 식별하는 용도로 사용됩니다.
		li “프리서버”는 오픈 소스 게임 “끄투”를 기반으로 하는 모든 서버를 뜻합니다.
		li “버그”란 운영 주최의 실수로 인해 만들어진 프로그램 및 시스템의 오류를 뜻합니다.
	p
		strong 제 2조. 회원의 권리 및 의무
	ul
		li 회원은 게임에서 제공되는 서비스를 받을 수 있습니다.
		li 회원은 자신의 게임ID를 보호하기 위해 노력을 하여야 합니다.
		li 회원은 운영 주최의 약관, 정책, 고지 등을 준수하여야 하며, 이외에도 사회적인 통념에 불합하는 행위를 해서는 안됩니다.
		li 회원은 타인의 게임ID, 정보 등을 도용하거나 허위 정보를 등록하지 아니하여야 합니다.
		li 회원은 쾌적한 게임 환경을 위해 운영 주최의 운영자에게 건의를 할 수 있습니다.
		li 회원은 게임 이용 시 발견한 버그를 운영진에게 신고하여야만 하며, 악용을 해서는 아니됩니다.
		li 회원은 운영 주최측 주장 및 지시를 동의하지 아니할 경우 이의를 제기할 수 있습니다.
		li 회원은 자신의 행동에 대한 책임을 져야 합니다.
	p
		strong 제 3조. 회원 간의 분쟁
	ul
		li 회원 간의 분쟁의 경우, 운영자는 원칙적으로는 개입하지 않습니다.
		li 운영자는 분쟁이 심화될 경우 이를 중재할 권한을 가집니다.
		li 운영자는 분쟁 당사자 중 운영 정책을 위반한 사용자에 대하여 운영 정책에서 규정하고 있는 조치를 취할 수 있습니다.
	p
		strong 제 4조. 처벌
	ul
		li “비매너 행위”는 타인에게 불쾌감을 줄 수 있는 행위나 원활한 게임을 방해하는 행위를 뜻합니다.
		li (1)에 따라 게임 이용에 제약이 발생할 수 있습니다.
		li 당 운영 주최에서 규정하고 있는 “비매너 행위” 제재 대상 및 처벌 수위를 다음 장에서 다룹니다.
		li
			| 다음 장에서 서술하는 “경고”에 따른 처벌은 다음과 같습니다.
			br
			|  경고 4: 게임 이용 7일 정지
			br
			|  경고 6: 게임 이용 15일 정지
			br
			|  경고 9: 게임 이용 30일 정지
			br
			|  경고 12: 게임 이용 영구 정지
		li 서버 카페, 카카오톡 오픈채팅방, 디스코드 채팅방 등의 알파끄투와 관련된 소셜 미디어 서비스(SNS)는 본 서버 처벌이 연동되는 바입니다.
		li “경고”는 매년 1월 초에 초기화됩니다.
	p
		strong 제 5조. 제재 대상 및 처벌 수위
	ol
		li
			| 타인에게 불쾌감과 모욕감을 주는 행위 (경고 1-2)
			br
			|  해당되는 유형: 채팅 도배, 이유 없는 비방/비난/비하, 가족 모독, 음담패설, 욕설 등
		li
			| 원활한 게임 진행을 방해하는 행위 (경고 1)
			br
			|  해당되는 유형: 인게임 기능 악용 등
		li
			| 사기 및 사칭, 운영 방해 행위 (경고 5-9)
			br
			|  해당되는 유형: 운영자 사칭, 운영 방해, 명예훼손 등
		li
			| 현금 거래 및 상업적 광고를 게시하는 행위 (경고 3-9)
			br
			|  해당되는 유형: 거래글 게시, 상업적인 광고 게시 등
		li
			| 타 프리서버 광고, 홍보글 등을 게시하는 행위 (경고 5-9)
			br
			|  해당되는 유형: 타 프리서버 간접 홍보, 직접 홍보, 홍보글 작성 등
		li
			| 타인에게 피해를 줄 수 있는 프로그램/사이트 주소 등을 배포하는 행위 (경고 8-9 +@)
			br
			|  해당되는 유형: 컴퓨터 바이러스 배포, 불법 사이트 홍보 등
		li
			| 대한민국 법상 위배되는 행위 (경고 1-9 +@)
			br
			|  해당되는 유형: 대한민국 법상 위배되는 모든 행위
		li
			| 친목 행위 (경고 1-3)
			br
			|  해당되는 유형: 고의적으로 2명 이상의 집단이 유저의 정상적인 게임 플레이를 방해하는 경우 (어뷰징) 등
		li
			| 비인가 프로그램 사용 등으로 원활한 게임을 방해하는 행위 (경고 5-9)
			br
			|  해당되는 유형: 단어 자동입력기 등의 사용, 로비 채팅 자동화 테러 등
		li
			| 타인의 명의를 도용하는 행위 (경고 4-9)
			br
			|  해당되는 유형: 타인 사칭 등
		li
			| 타인의 개인 정보를 유포하는 행위 (경고 4-9)
			br
			|  해당되는 유형: 타인의 개인정보(이름, 생일, 나이, 전화번호 등)를 유포하는 경우
		li
			| 비정상적인 방법을 통하여 부당한 이득을 취하는 행위 (경고 6-9)
			br
			|  해당되는 유형: 버그 사용, 시스템 오류 악용 등
		li 기타 운영 주최가 판단하기에 부적절한 행위
	p
		strong 제 6조. 게임 이용 정지 이의제기
	ul
		li
			| 자신의 게임 이용 정지 조치에 동의하실 수 없는 경우, 디스코드 내 “#💬티켓-열기💬” 채널에서 새로운 고객지원 티켓을 연 후, 이의제기를 신청하실 수 있습니다.
		li 이의 제기 기간은 처벌 후 14일이며, 이후에는 이의 제기 효력이 발생하지 않습니다.
	p
		strong 부칙
		br
		|  본 서비스 정책은 2020. 04. 18부터 시행됩니다.
	p
		strong 초본 작성일
		| : 2019.09.10 21:20
block Bottom
	div.bottom-legal!= L('Copyright')
	div.bottom-legal!= L('Dictionary')
	div.bottom-legal!= L('License')