extends layout

block Subject
	title 단어 등재 규정
	link(rel='canonical' href='https://kkutu.xyz/policy/word')
block JS
	
block Middle
	h1(style='text-align: center;') 알파끄투 단어 등재 규정
	h1(style='text-align: right;')
		strong(style='font-size: 14px;') 2020. 4. 11. 개정
	p 알파끄투에서는 게임 내 단어의 불균형으로 인한 불편을 최소화하기 위하여 아래와 같은 단어 등재 기준을 두고 있습니다.
	p
		strong 제 1조. 정의
	ul
		li “단어”는 게임 내 여러 게임 유형에서 사용할 수 있는 글자들의 집합을 뜻합니다.
		li “영단어”는 영어 게임 유형에서 사용할 수 있는 “단어”를 뜻합니다.
		li “한국어 단어”는 한국어 게임 유형에서 사용할 수 있는 “단어”를 뜻합니다.
		li “(단어의) 길이”는 “단어”의 총 개수로, 영단어의 경우 1 바이트 당 1자, 한국어 단어의 경우 2 바이트 당 1자로 계산합니다.
		li “특수문자”는 한국어 단어의 경우 [가-힣], 영단어의 경우 [a-z] 범위 밖의 문자를 뜻합니다.
		li “공격 단어”는 끝말잇기, 끄투, 쿵쿵따, 앞말잇기 유형에서 다음 사람이 조합할 수 있는 단어를 뜻합니다.
		li “방어 단어”는 끝말잇기, 끄투, 쿵쿵따, 앞말잇기 유형에서 “공격 단어”를 받은 사람이 자신의 턴을 넘길 수 있는 단어를 뜻합니다.
		li “스택 단어”는 같은 단어를 계속 주어 상대를 패배시키는 전략인 “스택”을 사용할 경우에 사용할 수 있는 단어를 뜻합니다.
	p
		strong
			br
		strong 제 2조. 단어 관리 규정
	ul
		li 관리자는 추가하거나 삭제한 단어를 반드시 추가/삭제한 시점에서 3일 이내에 공개해야 할 의무가 있습니다.
		li 관리자는 제 3조 및 제 4조의 등재 기준에 부합하지 않는 어떠한 작업을 수행해서는 아니됩니다.
		li 관리자는 유저의 건의사항 및 이의제기에 답변해야 할 의무가 있습니다.
		li 관리자는 새로운 단어 주제를 신청할 경우, 이에 따른 등재 기준을 명확하게 제시하여야 합니다.
		li
			| “어인정” 특수 규칙에 귀속되지 않는 단어의 경우, 아래 자료를 참고하여 단어를 등재합니다.
			ul
				li 기본적으로 우리말샘과 네이버 지식백과를 참고합니다.
				li
					| 문학의 경우 네이버 책을 참고합니다. (소설의 경우 제목이 “소설”로 끝나는 형태만 허용합니다. 시집은 “시집”, 동화는 “동화” 형태로 끝나야 합니다.)
				li
					| 책 제목은 네이버 책을 참고합니다.
					ul
						li 책의 경우에는 부제 등재를 허용하지 않습니다. 단, 공동저자 등재는 허용됩니다.
				li 법률은 우리말샘과 법제처 국가법령정보센터 누리집을 참고합니다.
				li 고적은 우리말샘과 문화재청 누리집을 참고합니다.
		li
			| “어인정” 특수 규칙에 귀속되는 단어의 경우, 아래 자료를 참고하여 단어를 등재합니다.
			ul
				li
					| “라이트 노벨”과 “만화책” 주제에 해당하는 단어는 공식적으로 번역이 끝난 (대한민국에서 정칙으로 출판된) 경우에만 등재합니다. 제목과 부제 모두 등재할 수 있습니다.
				li
					| “애니메이션” 주제에 해당하는 단어는 국내에서 방영한 제목을 우선적으로 등재하되, 수입된 이름을 그대로 쓰는 경우에는 그대로 등재합니다.
					ul
						li 자세한 사항은 국내 만화 방영 채널 기록을 참고하시기 바랍니다.
				li
					| “철도역” 주제에 해당하는 단어는 레츠코레일 누리집의 기차역 정보 페이지를 참고합니다.
					ul
						li
							| 단, 광역철도 및 도시철도에 한하여 어떠한 노선의 개통 또는 연장 직후 해당 누리집에 정보가 반영되지 않았을 경우, 해당 공사의 공식 누리집에서 찾은 역명도 등재할 수 있습니다.
				li
					| “간식” 주제에 해당하는 단어는 식품안전나라 누리집에 등재된 제품명을 참고합니다.
					ul
						li 단, 실제로 판매되는 사진이 없을 경우에는 등재 대상에서 제외합니다.
				li “영화” 주제에 해당하는 단어는 네이버 영화를 참고합니다.
				li
					| “유명인” 주제에 해당하는 단어는 네이버 인물정보에 등록된 사람만 등재가 가능합니다.
					ul
						li 등재하려는 이의 본업이 유튜브 방송인일 경우, 구독자 수치가 100,000명 이상일 경우에만 등재가 가능합니다.
						li 등재하려는 이의 본업이 아프리카 TV 방송인일 경우, 해당 인물의 방송국이 베스트 BJ에 선정되었을 경우에만 등재가 가능합니다.
						li 등재하려는 이의 본업이 트위치 방송인일 경우, 팔로워 수치가 30,000명 이상일 경우에만 등재가 가능합니다.
				li “온라인 게임” 및 “모바일 게임” 주제에 해당하는 단어는 네이버 게임 정보를 참고합니다.
				li “파워 쿵쿵따” 주제에 해당하는 단어는 인 게임에서 확인 가능한 쿵쿵따 단어를 기준으로 합니다.
				li “해외 철도역” 주제에 해당하는 단어는 나무위키 누리집을 기본으로 하되, 해당 사이트 성격 특정상 검증 작업을 진행합니다.
				li “버스 정류장” 주제에 해당하는 단어는 버스정보시스템 (BIS) 누리집을 기준으로 합니다.
				li “학교” 주제에 해당하는 단어는 진로정보망 커리어넷 누리집을 기준으로 합니다.
				li “웹툰” 주제에 해당하는 단어는 네이버 웹툰, 다음 웹툰, 네이트 웹툰, 레진코믹스 누리집을 기준으로 합니다.
				li “자격ㆍ면허” 주제에 해당하는 단어는 큐넷 누리집을 기준으로 합니다.
				// li “동방 프로젝트” 주제에 해당하는 단어는 
				li “PC 게임” 주제에 해당하는 단어는 네이버 게임 정보를 기준으로 합니다.
				li “콘솔 게임” 주제에 해당하는 단어는 네이버 게임 정보를 기준으로 합니다.
				li “쿠키런” 주제에 해당하는 단어는 나무위키 누리집을 기본으로 하되, 해당 사이트 성격 특정상 검증 작업을 진행합니다.
				li “알파끄투” 주제에 해당하는 단어는 별다른 등재 기준을 가지고 있지 않습니다.
		li 5항과 6항에 서술되지 않은 매체를 참고하여 단어를 등재하려 하는 경우, 상위 계급의 관리자에게 허가를 받아야 합니다.
	p
		strong
			br
		strong 제 3조. 한국어 단어 등재 기준
	ul
		li 원칙적으로 동사와 형용사는 추가할 수 없습니다.
		li
			| “공격 단어”가 “방어 단어”보다 많고, 방어 단어가 10개 미만일 경우에는 해당 단어를 등재할 수 없습니다. (우리말샘 사전에 등재된 단어를 포함합니다. 단, “공격 단어” 및 “방어 단어” 모두 9개 미만일 경우에는 같은 비율을 맞추어 가며 추가할 수 있습니다.) 단, 해당 단어가 전적으로 “방어 단어”에 해당될 경우에는 예외적으로 등재가 가능합니다.
		li
			| “공격 단어”가 “방어 단어”보다 많고, “방어 단어”가 10개 이상 70개 이하일 경우에는 “공격 단어”를 추가할 수 있습니다. 단, 그에 상응하는 “방어 단어”를 제시하여야만 합니다.
			ul
				li “공격 단어”와 “방어 단어”의 비율이 3:1일 경우에는 “공격 단어” 4개 당 “방어 단어” 1개를 추가하여야 합니다.
				li “공격 단어”와 “방어 단어”의 비율이 4:1일 경우에는 “공격 단어” 3개 당 “방어 단어” 1개를 추가하여야 합니다.
				li “공격 단어”와 “방어 단어”의 비율이 5:1 또는 그 이상일 경우에는 “공격 단어” 2개 당 “방어 단어” 1개를 추가하여야 합니다.
		li
			| “공격 단어”와 “방어 단어”의 가짓수가 70개 이상이거나, “공격 단어”와 “방어 단어”의 비율이 1:1 혹은 2:1인 상태에서는 자유롭게 단어를 추가할 수 있습니다.
		li “방어 단어”가 충분하여 부족하지 않을 경우에는 단어 등재를 허용합니다.
		li 단어를 이을 “방어 단어”가 1개 미만인 경우에는 단어를 등재할 수 없습니다.
		li
			| 단어에 “특수문자”가 포함되어 있을 경우, 아래와 같이 형태를 변환하여야 합니다.
			ul
				li 띄어쓰기 [ ]는 공백 []으로 대체합니다.
				li 백분율 [%]은 퍼센트 [퍼센트]로 대체합니다.
				li 앰퍼샌드 [&]는 앤드 [앤드]로 대체합니다. 단, 공식 표기가 앤 [앤]일 경우에는 앤 [앤]을 사용합니다.
				li 버서스 [vs]는 대 [대]로 대체합니다.
				li 느낌표 [!]는 공백 []으로 대체합니다.
				li 물음표 [?]는 공백 []으로 대체합니다.
				li 마침표 [.]는 공백 []으로 대체합니다.
				li 쉼표 [,]는 공백 []으로 대체합니다.
				li 달러 [$]는 달러 [달러]로 대체합니다.
				li 기타 “특수문자”는 상황에 맞게 변형하거나, 표기법대로 읽습니다.
		li “스택 단어” 중 더 이상의 “방어 단어”가 없다고 판단될 경우, 일부 동사와 형용사 단어를 추가할 수 있습니다.
		li “스택 단어” 중 “방어 단어”가 무의미하다고 판단되는 경우에는 해당 “방어 단어”를 삭제할 수 있습니다.
		li 끄투 공식 서버 단어 데이터베이스를 기준으로, 하나 이상의 “방어 단어”가 존재하지 않았던 글자가 있다면 가장 많은 쪽부터 등재를 진행합니다.
		li “단어의 길이”는 60자를 넘지 않도록 합니다.
	p
		strong
			br
		strong 제 4조. 영어 단어 등재 기준
	ul
		li 영어 단어는 크게 “영어 단어 대결”용 단어와 “영어 끝말잇기”용 단어로 나뉘어집니다.
		li “영어 단어 대결”용 단어는 띄어쓰기와 기호, 숫자를 허용합니다.
		li
			| “영어 끝말잇기”용 단어는 “특수문자”를 일체 허용하지 않습니다. 이에 따라 “영어 끝말잇기”용 단어에 “특수문자”가 포함되어 있을 경우, 아래와 같이 형태를 변환하여야 합니다.
			ul
				li 띄어쓰기 [ ]는 공백 []으로 대체합니다.
				li 백분율 [%]은 퍼센트 [percent]로 대체합니다.
				li 앰퍼샌드 [&]는 앤드 [and]로 대체합니다. 단, 공식 표기가 앤 [앤]일 경우에는 앤 [앤]을 사용합니다.
				li 버서스 [vs]는 버서스 [versus]로 대체합니다.
				li 느낌표 [!]는 공백 []으로 대체합니다.
				li 물음표 [?]는 공백 []으로 대체합니다.
				li 마침표 [.]는 공백 []으로 대체합니다.
				li 쉼표 [,]는 공백 []으로 대체합니다.
				li 달러 [$]는 달러 [dollar]로 대체합니다.
				li 기타 “특수문자”는 상황에 맞게 변형하거나, 표기법대로 읽습니다.
		li 윅셔너리, 네이버 영어 사전, 또는 워드넷 중 한 곳 이상의 사이트에서 뜻이 기록된 단어만 등재가 가능합니다.
		li 번역기의 뜻, 약자 등은 등재할 수 없으며, 반드시 윅셔너리, 네이버 영어 사전, 또는 워드넷의 뜻만 등재가 가능합니다.
		li “단어의 길이”는 70자를 넘지 않도록 합니다.
block Bottom
	div.bottom-legal!= L('Copyright')
	div.bottom-legal!= L('Dictionary')
	div.bottom-legal!= L('License')