//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends ../layout

block Subject
	title 끄투닷넷 매니지먼트 콘솔 (관리자)

block JS
	script(type='text/javascript', src='https://kkutu.xyz/language/kkutu/'+locals.lang+'.js?v='+L('version'))
	script(type="text/javascript", src='https://cdn.kkutu.xyz/js/kpanel/in_admin.min.js?p=true&v='+L('version'))
	
block Middle
	fieldset
		legend 자격 증명
		input#db-password(type='password', placeholder='암호')
		select#db-lang(style='width:163.5px;')
			option(value='ko', selected) 한국어 (ko)
			option(value='en') 영어 (en)
	fieldset
		legend 상점 데이터베이스 다루기
		div
			input#shop-word(placeholder='품목 (~ALL)')
			button#shop-go 조회
			button#shop-hide 숨기기
			div
				table
					thead: tr
						td #
						td cost
						td hit
						td term
						td group
						td updatedAt
						td options
						td name_ko_KR
						td desc_ko_KR
						td name_en_US
						td desc_en_US
					tbody#shop-data
			button#shop-add 추가
			button#shop-apply 적용
	fieldset
		legend 유저 정보 다루기
		div
			input#user-id(placeholder='ID')
			input#user-nick(placeholder='닉네임')
			button#user-go 조회
			div
				table
					thead: tr
						td #
						td 핑
						td kkutu
						td 보관함
						td 장착 아이템
						td 닉네임
						td 설명
						td server
						td 최근 로그인
						td 차단
						td 차단 시간
						td 경고
						td 친구
					tbody#user-data
			button#user-apply 적용
	fieldset
		legend 유저 감시하기
		div
			input#gamsi-id(placeholder='ID (,로 구분)')
			button#gamsi-go 감시
			div
				table
					thead: tr
						td #
						td 닉네임
						td 서버
					tbody#gamsi-data
	fieldset
		legend 끄투 데이터베이스에 단어 삭제하기
		div
			textarea#dd-list(rows=20, cols=100)
			button#dd-ok 확인