//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends ../layout

block Subject
	title 끄투닷넷 매니지먼트 콘솔 (운영부)

block JS
	script(type="text/javascript", src='https://cdn.kkutu.xyz/js/kpanel/in_user.min.js?v='+L('version'))
	
block Middle
	fieldset
		legend 자격 증명
		input#db-password(type='password', placeholder='암호')
	fieldset
		legend 유저 감시하기
		div
			input#gamsi-id(placeholder='ID (,로 구분)')
			button#gamsi-go 감시
			div
				table
					thead: tr
						td #
						td 닉네임
						td 서버
					tbody#gamsi-data
