doctype html
html
	head
		title 알파끄투 공지사항
		meta(charset='utf-8')
	body
		<h2>2019년 <span style="background-color: #00ccff; color: #ffffff;">한글날</span> 이벤트</h2>
		<p style="font-size: 1em;">알파끄투에서 2019년 한글날을 맞아 작은 이벤트를 준비했습니다.&nbsp;<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-smile.gif" alt="smile" /></p>
		<ol>
		<li style="font-size: 1em;"><span style="background-color: #00ccff; color: #ffffff;">핑, 경험치</span> 2배!&nbsp;<strong>(2019-10-05~10-15)</strong><br />알파끄투 플레이 시 획득 가능한 핑, 경험치가 2배로 상향됩니다.</li>
		<li style="font-size: 1em;"><span style="color: #ffffff; background-color: #00ccff;">핫타임</span> 이벤트 진행! <strong>(2019-10-06, 10-09)<br /></strong>승리 시 3000핑 이상을 손쉽게 얻을 수 있는 찬스! 핫타임 이벤트를 진행합니다.</li>
		<li style="font-size: 1em;">이벤트&nbsp;<span style="background-color: #00ccff; color: #ffffff;">한정 아이템</span> 판매! <strong>(2019-10-06~10-15)<br /></strong>이벤트 기간에만 얻을 수 있는 아이템 3종을 상점에서 판매합니다.</li>
		<li style="font-size: 1em;">한글 <span style="background-color: #00ccff; color: #ffffff;">퀴즈</span>! <strong>(2019-10-09)<br /></strong>한글 퀴즈를 통해 푸짐한 상품을 드립니다!</li>
		</ol>
		<p style="font-size: 1em;">오늘도 알파끄투에서 즐거운 시간 보내시기 바랍니다. 감사합니다.</p>