doctype html
html
	head
		title 알파끄투 업데이트 내역
		meta(charset='utf-8')
	body
		h3 19.9.33 [190927]
		ul
		li 19.9.32의 인게임 신고 기능을 디스코드로 연동하였습니다.
		li 19.9.32에서 발생한 오류를 수정하였습니다.
		
		h3 19.9.32 [190926]
		ul
		li 인게임 신고 기능에 사유를 선택이 가능하도록 하였습니다.
		li 19.9.31에서 발생한 아이템 착용 오류를 해결하였습니다.
		li 클라이언트 최적화 작업이 이루어졌습니다.
		
		h3 19.9.31 [190924]
		ul
		li 일부 누락된 정보가 수정되었습니다.
		li 대규모 버그 패치가 이루어졌습니다.
		li 클라이언트 최적화 작업이 이루어졌습니다.
		
		h3 19.9.30 [190924]
		ul
		li 이제 비밀번호 입력창, 친구 ID 입력창 등도 인게임 내 표시되도록 패치하였습니다.
		
		h3 19.9.29 [190924]
		ul
		li 19.9.28에서 발생한 오류를 수정하였습니다.
		
		h3 19.9.28 [190923]
		ul
		li 관전 여부창, 오류창 등이 인게임 내 표시되도록 패치하였습니다.
		
		h3 19.9.27 [190923]
		ul
		li 알파위키 링크를 추가하였습니다.
		li 19.9.26에서 발생한 오류를 수정하였습니다.
		
		h3 19.9.26 [190922]
		ul
		li 특수규칙 <초보>의 버그가 수정되었습니다.
		li 닉네임 변경 기능을 개선하였습니다.
		
		h3 19.9.25 [190922]
		ul
		li 서버 반응속도가 2배 가량 개선되었습니다.
		li Font Awesome 버전이 5로 업그레이드 되었습니다.
		li 이제 jQuery CDN을 사용합니다.
		
		h3 19.9.24 [190922]
		ul
		li 이제 js 파일을 uglify 작업을 시켜 클라이언트로 전송합니다.
		
		h3 19.9.23 [190921]
		ul
		li 코드 리펙토링이 진행되었습니다.
		li 이제 js 파일도 CDN 서버에서 불러옵니다.
		
		h3 19.9.22 [190921]
		ul
		li 처벌 기능이 추가되었습니다.
		li 클라이언트 최적화가 이루어졌습니다.
		li 19.9.20에서 발생한 상점 오류가 해결되었습니다.
		
		h3 19.9.21 [190921]
		ul
		li 클라이언트 최적화가 이루어졌습니다.
		li BGM 용량을 줄여 로드 속도를 향상시켰습니다.
		
		h3 19.9.20 [190917]
		ul
		li 코드 리펙토링이 진행되었습니다.
		li 그림퀴즈가 임시 비활성화 되었습니다.
		li 인게임 UI가 일부 변경되었습니다.
		
		h3 19.9.19 [190917]
		ul
		li 고급 필터링 모드가 추가되었습니다.
		li 이제 욕설 필터링을 설정 창에서 끄고 킬 수 있습니다.
		li 일부 대화 상자에 설명을 추가하였습니다.
		li 19.9.17에서 발생한 오류를 수정하였습니다.
		li 클라이언트 최적화 작업이 이루어졌습니다.
		
		h3 19.9.18 [190917]
		ul
		li 19.9.17 패치로 인해 발생한 모바일 환경 오류를 수정하였습니다.
		li 이제 모바일에서 상점 이용이 가능합니다.
		li 모바일 화면에 내 정보 창을 추가하였습니다.
		
		h3 19.9.17 [190916]
		ul
		li 클라이언트 최적화 작업이 이루어졌습니다.
		
		h3 19.9.16 [190916]
		ul
		li 설정 창, 방 만들기 창의 설명이 추가되었습니다.
		li 이제 라운드 시간을 1초부터 300초까지 자유롭게 설정하실 수 있습니다.
		
		h3 19.9.15 [190915]
		ul
		li 욕설 필터링 기능을 개선하였습니다.
		li 이제 필터링 여부 및 필터링 정도를 선택하실 수 있습니다.
		
		h3 19.9.14 [190915]
		ul
		li 19.9.6에서 발생한 버그를 다수 수정하였습니다.
		li UI가 변경되었습니다.
		
		h3 19.9.13 [190913]
		ul
		li 19.9.12의 버그를 다수 수정하였습니다.
		li 19.9.11로 인한 게스트 닉네임 문제를 해결하였습니다.
		
		h3 19.9.12 [190913]
		ul
		li 19.9.11의 버그를 다수 수정하였습니다.
		li 인게임 신고 기능이 추가되었습니다.
		
		h3 19.9.11 [190913]
		ul
		li 처음 접속 시 닉네임 변경창을 띄우도록 했으며, 운영정책 동의란을 추가하였습니다.
		li 인게임 신고 기능이 추가되었습니다.
		
		h3 19.9.10 [190913]
		ul
		li 특수규칙 <게스트 금지>의 버그가 수정되었습니다.
		li 닉네임 변경 기능을 추가하였습니다.
		
		h3 19.9.9 [190912]
		ul
		li 신규 규칙 <랜덤턴>이 추가되었습니다.
		
		h3 19.9.8 [190912]
		ul
		li 신규 규칙 <게스트 금지>가 추가되었습니다.
		li 신규 규칙 <초보>가 추가되었습니다.
		
		h3 19.9.7 [190912]
		ul
		li 신규 규칙 <중퇴금지>가 추가되었습니다.
		li <중퇴금지> 방에서 중도퇴장을 할 경우에 대한 처벌이 생길 예정입니다.
		
		h3 19.9.6 [190912]
		ul
		li 신규 규칙 <랭킹 게임>이 추가되었습니다.
		li <랭킹 게임> 규칙 허용 시, 경험치 대신 랭킹 포인트(LP)가 적립됩니다.
		
		h3 19.9.5 [190912]
		ul
		li 서버 BGM 변경 기능이 추가되었습니다.
		li 끄투 명절 BGM, 알파끄투 오리지널/피아노, 약 BGM이 추가되었습니다.
		
		h3 19.9.4 [190910]
		ul
		li 서버 볼륨 조절 기능이 정상화됐습니다.
		
		h3 19.9.3 [190907]
		ul
		li 단어 뜻이 추가되었습니다.
		
		h3 19.9.2 [190906]
		ul
		li 서버가 이전되었습니다.
		li 코드가 일부 리펙토링 되었습니다.
		li 서버 Git이 Bitbucket에서 AlphaGit으로 이전되었습니다.
		
		h3 19.9.1 [190903]
		ul
		li 운영자 휘장 여러개를 추가하였습니다.
		
		h3 19.8.2 [190828]
		ul
		li UI가 변경되었으며, 신규 기능 대비 업데이트가 이루어졌습니다.
		
		h3 19.8.1 [190827]
		ul
		li 서버 디스코드가 개설되고, 여러 기능들이 추가되었습니다.
		
		h3 19.4.1 [190402]
		ul
		li 끄투닷넷, 모리끄투, 라이트끄투, 헬로윤호 끄투가 합병되었습니다.
		li 끄투닷넷 외 4개의 서버의 기능을 추가하였습니다.
		
		h3 18.11.1 [181121]
		ul
		li 잠시 18/11/23~19/4/1까지 개인 사정으로 업무를 중단합니다.
		
		h3 18.9.1 [180923]
		ul
		li 이제 웹소켓 통신도 프록싱됩니다.
		
		h3 18.8.2 [180813]
		ul
		li 관전자에게 painter 역할이 주어지는 오류를 수정하였습니다.
		
		h3 18.8.1 [180801]
		ul
		li 신규 규칙 <한국어 그림퀴즈>와 <영어 그림퀴즈>가 추가되었습니다.
		
		h3 18.7.1 [180711]
		ul
		li 다시 한번 끄투 서버가 이전되었습니다.
		li 최대 접속 인원이 2,400명으로 증가하였습니다.
		li 신규 BGM이 추가되었습니다.
		li Github 레프지토리를 Bitbucket으로 이전하였습니다.
		
		h3 18.6.2 [180613]
		ul
		li 트위터 아이디로 로그인이 추가되었습니다.
		li 이제 끄투 서버 트래픽을 리버스 프록싱합니다.
		
		h3 18.6.1 [180601]
		ul
		li 추후 기능 추가를 대비하는 패치를 진행하였습니다.
		li 이제 TLS 1.3과 HTTP/2를 지원합니다.
		
		h3 18.5.1 [180503]
		ul
		li 게임 서버 연결이 끊기는 오류가 수정되었습니다.
		
		h3 18.4.1 [180427]
		ul
		li 서버 최적화 작업이 이루어졌습니다.
		
		h3 18.3.4 [180331]
		ul
		li 사용자의 식별 변호 앞에 'vendor-'을(를) 추가하였습니다.
		li 기존 사용자는 로그인 시 ID가 자동 변환됩니다.
		
		h3 18.3.3 [180328]
		ul
		li 서버가 이전되었습니다.
		li Passport 오류가 수정되었습니다.
		
		h3 18.3.2 [180318]
		ul
		li SSL이 적용되었습니다. 이제 https 연결을 지원합니다.
		li 디스코드 아이디로 로그인이 추가되었습니다.
		
		h3 18.3.1 [180303]
		ul
		li 끄투닷넷 BGM이 추가되었습니다.
		li BGM 변경 기능 오류가 수정되었습니다.
		
		h3 18.2.1 [180201]
		ul
		li 일부 오류가 수정되었습니다.
		li 잠시 18/02/01~18/03/01까지 개인 사유로 업무를 중단합니다.
		
		h3 18.1.2 [180123]
		ul
		li 비인가 프로그램 감지 기능이 추가되었습니다.
		li 일부 UI가 변경되었습니다.
		
		h3 18.1.1 [180112]
		ul
		li '초보' 규칙을 삭제하였습니다.
		li 서버 데이터가 이제부터 로깅됩니다.
		
		h3 17.12.1 [171230]
		ul
		li 서버 내 치명적인 오류를 수정하였습니다.
		li 새해 BGM을 추가하였습니다.
		
		h3 17.11.6 [171128]
		ul
		li 서버가 이전되었습니다.
		
		h3 17.11.5 [171124]
		ul
		li reCAPTCHA 오류를 수정하였습니다.
		
		h3 17.11.4 [171122]
		ul
		li 손님은 채팅을 할 수 없게 하는 스크립트를 제거하였습니다. 대신, 접속할 때 reCAPTCHA를 해결해야 합니다.
		
		h3 17.11.3 [171111]
		ul
		li 로그인이 되지 않는 현상을 수정하였습니다.
		
		h3 17.11.2 [171107]
		ul
		li 방송인 휘장이 추가되었습니다.
		li Redis 서버 문제를 수정하였습니다.
		
		h3 17.11.1 [171101]
		ul
		li 카카오 아이디로 로그인 시, Callback이 작동하지 않는 현상을 수정하였습니다.
		
		h3 17.10.4 [171029]
		ul
		li 신규 규칙 '초보'가 추가되었습니다.
		
		h3 17.10.3 [171029]
		ul
		li 서버 최대 인원이 2400명으로 늘었습니다.
		li 특정 명령어를 입력했을 시 서버가 종료되는 현상을 수정하였습니다.
		
		h3 17.10.2 [171017]
		ul
		li 서버 RAM이 증설되었고, 게스트는 채팅이 불가능해졌습니다.
		li 서버가 한국 단독 서버로 이전되었습니다. 데이터는 무사히 이전되었습니다.
		
		h3 17.10.1 [171014]
		ul
		li 서버가 한국 서버로 이전되었습니다.
		li 카카오 아이디로 로그인이 추가되었습니다.
		
		h3 17.9.4 [170903]
		ul
		li 인터페이스가 약간 변경되었습니다.
		li 서버 반응속도를 회선 업그레이드를 통해 높였습니다.
		
		h3 17.9.3 [170903]
		ul
		li 설정에 BGM 선택 창이 추가되었습니다.
		
		h3 17.9.2 [170902]
		ul
		li 레벨 아이콘이 변경되었습니다.
		li 구글 로그인 오류를 수정하였습니다.
		li 욕설 필터링 오류를 수정하였습니다.
		
		h3 17.9.1 [170901]
		ul
		li 서버가 접속되지 않는 오류를 수정하였습니다.
		
		h3 17.8.3 [170830]
		ul
		li 서버 이름을 '끄투닷넷'으로 변경하였습니다. 이제부터는 끄투.닷넷으로 접속 가능합니다.
		li DB 최적화 작업이 이루어졌습니다.
		
		h3 17.8.2 [170819]
		ul
		li 일부 버그가 수정되었습니다.
		li 서버에 DDoS 방어 솔루션이 추가되었습니다.
		
		h3 17.8.1 [170801]
		ul
		li 구글 로그인의 callback 오류를 수정하였습니다.
		li 서버 사양이 증가하였습니다.
		
		h3 17.7.6 [170729]
		ul
		li 서버를 다시 홍콩으로 이전하였습니다.
		
		h3 17.7.5 [170721]
		ul
		li 서버가 유럽 내 IDC로 이전되었습니다.
		li 서버가 기존 2개에서 3개로 증가하였습니다.
		
		h3 17.7.4 [170719]
		ul
		li 개인정보 취급방침, 운영 정책 등 법적 고지 문서가 완성되었습니다.
		li 서버가 기존 1개에서 2개로 증가하였습니다.
		
		h3 17.7.3 [170718]
		ul
		li 페이스북 로그인, 네이버 로그인을 추가하였습니다.
		
		h3 17.7.2 [170717]
		ul
		li 구글 로그인을 추가하였습니다.
		
		h3 17.7.1 [170716]
		ul
		li 글자로 놀자! 끄투 온라인 프리 서버가 공개되었습니다.
