extends m_layout

block Subject
	title 끄투닷넷 - 내 작은 글자 놀이터, 끄투닷넷! 끄투 온라인
	link(rel='canonical' href='https://kkutu.xyz')

block CSS
	link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/css/in_game_kkutu.css?v='+L('version'))
	link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/css/in_portal.css?v='+L('version'))

block JS
	script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/js/in_portal.min.js?v='+L('version'))

block Middle
	+separator(5)
	div(style='display:table; width:200px; margin:0 auto;')
		div(style='width:200px;height:140px;background-color:rgba(0, 0, 0, 0.5);display:inline-block;')
			h3#holder(style='padding-top:30px;')
			img#logo(style='width:90%;padding-left:5%;margin:0 auto;', src='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/img/logo/wh_fullname_ko.svg', title='끄투닷넷 로고 - 끄투 온라인')
		button#game-start.jjo-display(style='float:none;') 게임 시작
		div(style='width:200px;height:5px;background-color:transparent;')
		div.server-list-box
			h3.server-list-title(style='height:20px;')
				label#server-total(style='color:#fff;font-size:14px;vertical-align:middle;') ▼ 0명 접속 중
				a#server-refresh(style='background-color:cornflowerblue;padding:2px;font-size:14px;') <i class="fas fa-redo"></i> 새로고침
			div#server-list(style='height:270px;')
	+separator(10)
	div#ad
		ins.kakao_ad_area(style='display:none;', data-ad-unit='DAN-qy4y6lsg0jzm', data-ad-width='320', data-ad-height='100')
		script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/js/ba.min.js', async)
block Bottom
