extends layout

block Subject
	title 알파끄투 - 내 작은 글자 놀이터, 알파끄투! 끄투 온라인 - 서비스 이용 약관
	link(rel='canonical' href='https://kkutu.xyz/policy/agreement')

block JS
	
block Middle
	h1 서비스 이용 약관
	h3 제 1조 (목적)
	p
		| 본 회원 약관은 알파끄투 운영이 개발, 서비스하는 알파끄투 (이하 '갑')를 이용함에 있어 관리자와 이용자(이하 '회원')의 권리, 의무 및 책임사항을 규정함을 목적으로 한다.
	h3 제 2조 (약관의 효력)
	p
		| 1. 본 약관은 갑의 게임서버 접속 시 회원들에게 통지함으로써 효력을 발생한다.
		br
		| 2. 갑은 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 제 1항과 같은 방법으로 공지 또는 통지함으로써 효력을 발생한다.
		br
		| 3. 약관의 변경 사항 및 내용은 갑의 홈페이지 (
		a(href='https://kkutu.xyz') https://kkutu.xyz
		| )에 게시하는 방법으로 공시한다.
	h3 제 3조 (약관 이외의 준칙) 
	p 이 약관에 명시되지 않은 사항이 전기 통신 기본법, 전기통신 사업법, 기타 관련 법령에 규정되어 있는 경우 그 규정에 따른다.
	h3 제 4조 (이용 계약의 체결)
	p 갑의 게임 서버 최초 로그인 시 약관에 동의하여 이 계약이 체결된 것으로 간주한다.
	h3 제 5조 (용어의 정의)
	p
		| 이 약관에서 사용하는 용어의 정의는 다음과 같다.
		br
		| 1. 회원: 갑과 서비스 이용에 관한 계약을 체결한 자
		br
		| 2. 아이디(ID): 회원 식별과 회원의 서비스 이용을 위하여 회원이 선정하는 문자와 숫자의 조합
		br
		| 3. 비밀번호: 회원이 통신상의 자신의 비밀을 보호하기 위해 선정한 문자와 숫자의 조합
		br
		| 4. 비인가 프로그램: 갑이 인정하지 않는 불법 프로그램
	h3 제 6조 (이용 신청)
	p 1. 소셜 로그인 또는 게스트로 정보를 회사에 제출함으로써 이용 신청을 할 수 있다.
	h3 제 7조 (서비스 이용의 승낙)
	p 갑의 회원 정보에 가입 희망 회원이 인터넷으로 제6조와 같이 신청하면 갑은 바로 접속을 승인하여 서비스를 이용할 수 있다.
	h3 제 8조(서비스 이용 정지)
	p
		| 1. 갑은 다른 회원에게 피해가 가는 행동(욕설, 어뷰징 등)을 하는 회원에게 서비스 이용 정지를 할 수 있다.
		br
		| 2. 1번에 해당되는 사항 이외에도 갑의 명예를 훼손시키거나 음란물이나 불건전한 내용을 게재할 경우, 비인가 프로그램을 사용할 경우에 회원의 자격을 서비스 이용 정지 시킬 수 있다.
	h3 제 9조 (서비스 제공의 중지)
	p
		| 갑은 다음 각 호의 1에 해당하는 경우 서비스의 제공을 중지할 수 있다.
		br
		| 1. 설비의 보수 등을 위하여 부득이한 경우
		br
		| 2. 전기통신사업법에 규정된 기간통신사업자가 전기통신서비스를 중지하는 경우
		br
		| 3. 기타 회사가 서비스를 제공할 수 없는 사유가 발생한 경우
	h3 제 10조 (갑의 의무)
	p
		| 1. 갑은 계속적, 안정적으로 서비스를 제공할 수 있도록 최선의 노력을 다하여야 한다.
		br
		| 2. 갑은 항상 회원의 신용정보를 포함한 개인신상 정보의 보안에 대하여 관리에 만전을 기함으로서 회원의 정보 보안에 최선을 다하여야 한다.
	h3 제 11조 (개인정보 보호)
	p
		| 1. 갑은 이용자의 정보수집시 서비스의 제공에 필요한 최소한의 정보를 수집한다.
		br
		| 2. 제공된 개인정보는 당해 이용자의 동의없이 목적외의 이용이나 제3자에게 제공할 수 없으며, 이에 대한 모든 책임은 갑이 진다. 단, 다음의 경우에는 예외로 한다.
		br
		| ① 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우
		br
		| ② 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우
		br
		| ③ 범죄에 대한 수사상의 목적이 있거나 정보통신윤리 위원회의 요청이 있는 경우
		br
		| ④ 해킹으로 인해 유출이 되었을 경우
		br
		| ⑤ 기타 관계 법령에서 정한 절차에 따른 요청이 있는 경우
	p 3. 회원은 언제든지 갑이 가지고 있는 자신의 개인 정보에 대해 열람 및 오류 정정을 요구할 수 있으며 갑은 이에 대해 지체없이 처리한다.
	h3 제 12조 (회원의 의무)
	p
		| 1. 회원은 관계 법령, 이 약관의 규정, 이용안내 및 주의사항 등 갑이 통지하는 사항을 준수하여야 하며, 기타 갑의 업무에 방해되는 행위를 하여서는 안된다.
		br
		| 2. 회원은 갑의 사전 승낙 없이 서비스를 이용하여 어떠한 영리 행위도 할 수 없습니다.
		br
		| 3. 회원은 서비스를 이용하여 얻은 정보를 갑의 사전 승낙 없이 복사, 복제, 변경, 번역, 출판,방송 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없다.
		br
		| 4. 회원은 이용 신청서의 기재 내용 중 변경된 내용이 있는 경우 서비스를 통하여 그 내용을 갑에게 통지하여야 한다.
		br
		| 5. 회원은 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안됩니다.
		br
		| ① 다른 회원의 계정을 부정 사용하는 행위
		br
		| ② 범죄행위를 목적으로 하거나 기타 범죄행위와 관련된 행위
		br
		| ③ 선량한 풍속, 기타 사회질서를 해하는 행위
		br
		| ④ 타인의 명예를 훼손하거나 모욕하는 행위
		br
		| ⑤ 타인의 지적재산권 등의 권리를 침해하는 행위
		br
		| ⑥ 해킹행위 또는 컴퓨터바이러스의 유포행위
		br
		| ⑦ 타인의 의사에 반하여 광고성 정보 등 일정한 내용을 지속적으로 전송 또는 타 사이트를 링크하는 행위
		br
		| ⑧ 서비스의 안전적인 운영에 지장을 주거나 줄 우려가 있는 일체의 행위
		br
		| ⑨ 기타 관계법령에 위배되는 행위
		br
		| ⑩ 게시판 등 커뮤니티를 통한 상업적 광고홍보 또는 상거래 행위
	h3 제 13조 (게시물 또는 내용물의 삭제)
	p
		| 갑은 서비스의 게시물 또는 내용물이 제12조의 규정에 위반되거나 갑 소정의 게시기간을 초과하는 경우 사전 통지나 동의 없이 이를 삭제할 수 있다.
	h3 제 14조 (게시물에 대한 권리·의무)
	p 게시물에 대한 저작권을 포함한 모든 권리 및 책임은 이를 게시한 회원에게 있습니다.
	h3 제 15조 (양도 금지)
	p 회원이 서비스의 이용권한, 기타 이용 계약상 지위를 타인에게 양도, 증여할 수 없으며, 이를 담보로 제공할 수 없다.
	h3 제 16조 (계약 해지 및 이용 제한)
	p
		| 1. 회원이 이용계약을 해지하고자 하는 때에는 본인이 서비스 또는 전자 우편을 통하여 해지하고자 하는 날의 1일전까지 (단, 해지일이 법정 공휴일인 경우 공휴일 개시 2일전까지)이를 회사에게 신청하여야 한다.
		br
		| 2. 갑은 해지 및 탈퇴를 한 회원이 다시 이용신청을 하는 경우 일정기간 그 승낙을 제한할 수 있다.
	h3 제 17조 (면책·배상)
	p
		| 1. 갑은 회원이 서비스에 게재한 정보, 자료, 사실의 정확성, 신뢰성 등 그 내용에 관하여는 어떠한 책임을 부담하지 아니하고, 회원은 자기의 책임아래 서비스를 이용하며, 서비스를 이용하여 게시 또는 전송한 자료 등에 관하여 손해가 발생하거나 자료의 취사 선택, 기타서비스 이용과 관련하여 어떠한 불이익이 발생 하더라도 이에 대한 모든 책임은 회원에게 있습니다.
		br
		| 2. 갑은 제12조의 규정에 위반하여 회원간 또는 회원과 제3자간에 서비스를 매개로 하여 물품거래 등과 관련하여 어떠한 책임도 부담하지 아니하고, 회원이 서비스의 이용과 관련하여 기대하는 이익에 관하여 책임을 부담하지 않습니다.
		br
		| 3. 회원 계정의 관리 및 이용상의 부주의로 인하여 발생 되는 손해 또는 제3자에 의한 부정사용 등에 대한 책임은 모두 회원에게 있습니다.
		br
		| 4. 회원이 제12조, 기타 이 약관의 규정을 위반함으로 인하여 갑이 회원 또는 제3자에 대하여 책임을 부담하게 되고, 이로써 갑에게 손해가 발생하게 되는 경우, 이 약관을 위반한 회원은 갑에게 발생하는 모든 손해를 배상하여야 하며, 동 손해로부터 갑을 면책시켜야 합니다.
	h3 제 18조 (분쟁의 해결)
	p
		| 1. 갑과 회원은 서비스와 관련하여 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 하여야 합니다.
		br
		| 2. 1항의 규정에도 불구하고 분쟁으로 인하여 소송이 제기될 경우 소송은 회사의 소재지를 관할하는 법원의 관할로 합니다.
	h2 부칙
	p 제 1 조 (시행일) 이 약관은 2019년 09월 12일부터 시행한다.
	p
		| 관리자: 알파끄투 최고 권한자 김도훈 (
		a(href='mailto:admin@hatty163.kr') admin@hatty163.kr
		| )
	
block Bottom
	div.bottom-legal!= L('Copyright')
	div.bottom-legal!= L('Dictionary')
	div.bottom-legal!= L('License')